.body{
    background-color: rgba(239, 245, 250, 0.793);
    box-shadow: 4px 4px 5px 1px lightgrey;
    border-radius: 20px;
    padding: 50px 0;
    margin: 50px 0;
}
.body h2{
    color: #000000;
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}
.body h2 span{
    color: #46499c;
}

.box {
    margin: 0 auto;
    width: 70%; 
    
}
.box-item_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.box-item_title_container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.box-item_icon{
    font-size: 22px;
    color: #46499c;
}

.box .box-item {
  color: black;
  padding: 15px 0;
}
.box .title {
  margin: 0;
  padding: 10px;
  background-color: transparent;
}
.box-item-content{
    height: 0;
    overflow: hidden;
    background-color: transparent;
    margin: 0;
    padding-left: 20px;
    transition: 0.5s;
    border: solid 2px;

}
ul{
    list-style: none;
}
ul li{
    padding-top: 5px;
}
.box:hover .box-item:hover .box-item-content {
    height: 100px;
}

.title{
    font-weight: bold ;
    font-size: 20px;
}