.landing__page-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.landing__page-text{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing__page-text h4{
    color: rgb(58, 58, 58);
    font-weight: 400;
}

.landing__page-text h1{
    font-size: 50px;
}

.landing__page-text h1 span{
    color: #46499c;
}

.landing__page-button{
    background-color: #46499c;
    align-self: flex-start;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    padding: 15px 30px;
    margin-top: 10px;
}

.landing__page_first_section{
    display: flex;
    flex-direction: column;
    margin: 300px 0;
    align-items: center;
    position: relative;
}

.landing__page_first_section h2{
    font-size: 43px;
    margin-bottom: 100px;
    text-align: center;
}

.landing__page_first_section_text{
    border-left: 5px solid black;
    padding-left: 15px;
}

.landing__page_first_section_text p{
    font-size: 18px;
    margin-bottom: 10px;
}

.span_2{
    color: orangered;
}

.span_3{
    color: rgb(70, 73, 156);
}

.rocket_image{
    position: absolute;
    width: 350px;
    top: 130px;
    left: 30px;

    animation: floating 4s ease-in-out infinite;
}


@keyframes floating{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-20px);
    }
    100%{
        transform: translatey(0px);
    }
}
