.pageContainer{
    border-radius: 20px;
    margin: 50px auto;
    width: 75%;
}

.profileContainer{
    display: flex;
    flex-direction: column;
}

/* .buttons{
    border: none;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:2px solid #46499c;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
    width:80%;
    text-align: center;
}

.buttons:hover{
    background-color: rgba(70, 73, 156, 0.9);
    color: white; 
}  */

.bannerProfileContainer{
    height: 30%;
    width: 100%;
}

#banner{
    object-fit: contain;
}

.infoProfileContainer{
    background-color: rgba(201, 221, 238, 0.51);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    border-bottom: 3px solid black;
}

.logoNameContainer{
    display: flex;
    align-items: center;
}

#logo{
    width: 150px;
}

.nameContainer{
    display: flex;
    flex-direction: column;
}

.logoNameContainer label{
    font-size: 13px;
}

.smallInfoContainer{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.labelContainer{
    display: flex;
    align-items: center;
    gap: 3px;
}

.infoAsset{
    width: 25px;
}

.descriptionContainer, .jobsContainer, .technologiesContainer{
    padding: 50px;
    background-color: rgba(201, 221, 238, 0.51);
}

.jobsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.technologiesContainer{
    border-top: 3px solid black;
}

.technologiesContainer h3{
    text-align: center;
}


/* JOBSCARDS */

.postCard{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    transition: 0.5s;
    color: black;
    display: flex;
    gap:40px;
    flex-wrap: wrap;
  }
  
  .postCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }
  .imgContainer{
    width: 20%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .detailsContainer{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
  
  .techsContainer{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 15px;
    flex-wrap: wrap;
    max-height: 180px;
  }
  
  .companyTechsContainer{
      margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .techsContainer label, .companyTechsContainer label{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(239, 245, 250, 0.793);
    color:#46499c
  }

  .companyTechsContainer label{
      background-color: white;
  }
  
  .jobContainer{
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .editProfileButtonContainer{
    align-self: center;
    margin: 30px 0px;
    text-decoration: none;
  }


  .editProfileButtonContainer > *{
    background-color: #46499c;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 15px 25px;
}
