.pageContainer{
    background-color: rgba(227, 227, 227, 0.51);
    box-shadow: 0 4px 7px 1px lightgray;
    border-radius: 5px;
    margin: 50px auto;
    width: 75%;
}

.profileContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(234, 234, 239, 0.629);
}
.reportaje {
    display: flex;
    background-color: white;
    justify-content: flex-end;
  }
  .reportaje button {
    color: black;
    font-size: 30px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    background-color: white;
  }
  .reportaje button:hover{
      color:red
  }
/*.buttons{
    border: none;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom:2px solid #46499c;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
    width:80%;
    text-align: center;
}

.buttons:hover{
    background-color: rgba(70, 73, 156, 0.9);
    color: white; 
}  */

.bannerProfileContainer{
    height: 100%;
    width: 100%;
    background-color: white;
}

#banner{
    border-bottom: 3px solid whitesmoke;
}

.infoProfileContainer{
    padding: 60px 30px;
    border-bottom: 3px solid black;
    background-color: white;
}

.infoIcons{
    font-size: 20px;
}

.logoNameContainer{
    display: flex;
    align-items: center;
    
}

.userPhoto{
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    padding: 35px;
    width: 230px;
    height: 230px;
    overflow: hidden;
    border: 1px solid whitesmoke;
}

.nameContainer{
    display: flex;
    flex-direction: column;
}

.logoNameContainer label{
    font-size: 13px;
}

.smallInfoContainer{
    display: flex;
    gap: 50px;
    justify-content: center;
    border-top: 2px solid whitesmoke;
    margin-top: 10px;
}

.labelContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    
}

.descriptionContainer, .jobsContainer, .technologiesContainer{
    padding: 50px;
}

.jobsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* JOBSCARDS */

.postCard{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    transition: 0.5s;
    color: black;
    display: flex;
    gap:40px;
    flex-wrap: wrap;
  }
  
  .postCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
  }
  .imgContainer{
    width: 20%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .detailsContainer{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
  
  .techsContainer{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    font-size: 15px;
    flex-wrap: wrap;
    max-height: 180px;
  }
  
  .companyTechsContainer{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
  }


  .technologiesContainer, .descriptionContainer{
      background-color: white;
      box-shadow: 0 3px 5px 1px lightgray;
      margin: 20px 30px;
  }

  .techsContainer label, .companyTechsContainer label{
    box-shadow: 0 3px 5px 1px lightgray;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 10px;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#000000
  }

  .companyTechsContainer label{
      background-color: #f8f6e0;
  }



  h3{
    font-size: 30px;
    font-weight: 500;
  }
  
  .jobContainer{
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .editProfileButtonContainer{
    align-self: center;
    margin: 30px 0px;
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }

  .editProfileButtonContainer > *{
    background-color: #46499c;
    box-shadow: 0 4px 7px 1px lightgray;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 15px 25px;
}

#premium{
    background-color: rgb(253, 147, 26);
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

#premiumLabel{
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    color: #46499c;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    right: 13px;
    cursor: pointer;
    text-decoration: underline;
}

.cannot{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
