.pageContainer {
  border-radius: 5px;
  box-shadow: 0 5px 8px 1px lightgrey;
  margin: 50px auto;
  overflow: hidden;
  width: 75%;
}

.profileContainer {
  background-color: rgba(234, 234, 239, 0.629);
  display: flex;
  flex-direction: column;
  
}

.bannerProfileContainer {
  height: 30%;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

#banner {
  object-fit: contain;
  border-bottom: 3px solid whitesmoke;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 15px;
}

.infoContainer {
  margin-top: 0px;
}

.mainInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 3px solid black;
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.mainInfoBox{
  align-items: center;
  display: flex;
  gap: 30px;
}

.userPhoto {
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 220px;
  overflow: hidden;
  border: 1px solid whitesmoke;
}



.nameContainer h2 {
  font-size: 32px;
}

.nameContainer_item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.secondaryInfo {
  padding: 40px;
}

.secondaryInfoContainer {
  
  box-shadow: 0 3px 5px 1px lightgray;
  background-color: white;
  margin: 15px 0;
  padding: 40px 30px;
}

.secondaryInfo div button {
  border: none;
  border-radius: 5px;
  background-color: #46499c;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  color: white;
  padding: 12px 15px;
  outline: none;
}

.userTechsContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.userTechsContainer label {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  box-shadow: 0 3px 5px 1px lightgray;
  text-align: center;
  padding: 8px;
  border-radius: 10px;
}

.editProfileButtonContainer {
  align-self: flex-end;
  margin: 30px 0px;
  text-decoration: none;
}

.editProfileButtonContainer > * {
  background-color: #46499c;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  padding: 15px 25px;
}
.reportaje {
  display: flex;
  background-color: white;
  justify-content: flex-end;
}
.reportaje button {
  color: black;
  font-size: 30px;
  margin-right: 50px;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.reportaje button:hover{
    color:red
}
.div_h3{
  padding: 5px 45px;
}

.cannot{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.secondaryInfoCards{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #d9ecf2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 8px;
  padding-left: 16px;
  border-radius: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 5px 1px lightgray;
}

.dateContainer{
  display: flex;
  gap: 5px;
}

.dateContainer label{
  color: white;
  border-radius: 10px;
  background-color: #46499c;
  width: fit-content;
  padding: 8px 15px;
  font-size: 14px;
  margin-top: 5px;
}
.props{
  margin-left: 40px;
}

#deg{
  font-size: 23px;
}

.dsc{
  margin-left: 50px;
}

.about{
  display: flex;
  align-items: center;
  gap: 4px;
}

.divdelete{
  margin-right: 5px;
  cursor: pointer;
}

.delete{
  margin-right: 5px;
  cursor: pointer;
  background-color: black !important;
  cursor: pointer;
}

#high{
  justify-content: space-between;
}

#arrange{
  border: none;
}

