.formContainer{
    width: 60%;
    margin: 50px auto;
}

.formContainer h2{
    background-color: #46499c;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding: 30px 0;
}

select{
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 18px;
    padding: 10px;
    outline: none;
}

.form{
    background-color: aliceblue;
    border-radius: 3px;
    box-shadow: 0px 4px 8px 1px lightgray;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 22px;
}

.edit_form_button{
    background-color: #46499c;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
}

.edit_form_button:hover{
    background-color: rgba(70, 73, 156, 0.9);
}

#error{
    color: red;
}
.upload{
    background-color: #46499c;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 
}

.backButton{
    font-size: 20px;
    border: none;
    position: relative;
    right: 80px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.backButton:hover{
    background-color: rgba(70, 73, 156, 0.9);
}


  .added_techs{
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.added_techs div{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 1px lightgray;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
    
}

.delete_added_tech{
    cursor: pointer;
    color:rgb(190, 33, 33);
    font-size: 32px;
    padding: 5px;
    border-radius: 5px;
}
