.company_container{
  margin-top: 80px;
}

.company_container h2{
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.company_container h2 span{
  color:#ea520b;
}

.cards {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 120rem;
  margin: 5rem auto;
  gap: 2rem;
  width: 100%;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}
a:link,
a:visited,
a:active {
  text-decoration: none;
}

.postsContainer{
  margin: 1rem;
  border-radius: 10px;
  background-color: rgba(239, 245, 250, 0.793);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.createjob_button_container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 0;
}

.createjob_button{
  background-color: rgb(70, 73, 156);
  box-shadow: 3px 3px 8px 1px lightgray;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;
  transition: .2s ease-in-out;
}

.createjob_button:hover{
  transform: scale(1.1);
}

.createjob_button_icon{
  font-size: 30px;
}