.cards {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 120rem;
    margin: 5rem auto;
    gap: 2rem;
    width: 100%;
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }
  
  .postsContainer{
    margin: 1rem;
    border-radius: 10px;
    background-color: rgba(239, 245, 250, 0.793);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  