.pageContainer{
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 500px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 3px 5px 1px lightgray;
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button{
    background-color: #46499c;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    padding: 15px;
}

.button:hover{
    background-color: rgba(70, 73, 156, 0.9);
}

#error{
    color: red;
}

.formContainer h2{
    color: black;
    text-decoration: underline;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    align-self: center;
}