.form_container{
    box-shadow: 2px 2px 5px 1px lightgrey;
    border-radius: 5px;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.form{
    padding: 20px;
}

.form_title{
    background-color: #46499c;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.form_title h2{
    font-size: 28px;
}

.create_job_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

.form_left_column{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    font-size: 18px;
}

.form_select, input{
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 18px;
    padding: 10px;
    outline: none;
}


.added_techs{
    align-items: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.added_techs div{
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 2px 2px 4px 1px lightgray;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 5px;
}


.delete_added_tech{
    cursor: pointer;
    color:rgb(190, 33, 33);
    font-size: 32px;
    padding: 5px;
    border-radius: 5px;
}

.addNewTechs{
    display: flex;
    gap: 10px;
}

.addnewtech_button{
    background-color: rgb(70, 73, 156);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 30px;
}


.hide{
    display: none;
}



.form_right_column{
    display: flex;
    flex-direction: column;
    gap: 15px;  
}

textarea{
    resize: vertical;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid lightgrey;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.form_button{
    text-align: center;
}

.form_button button{
    background-color: rgb(70, 73, 156);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 50px;
    margin-top: 30px;
}

.form_button button:hover{
    background-color: rgba(70, 73, 156, .9);
}

.arrowBack{
    width: 40px;
    margin-top: 40px;
    margin-left: 100px;
}