.logged_user_navbar{
    align-items: center;
    display: flex;
    position: relative;
    gap: 60px;
}

.logged_user_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.logged_user_icon{
    cursor: pointer;
    width: 80px;

}

.logged_user_icon img{
    height: 100%;
    object-fit: contain;
    width: 100%;
    border-radius: 50%;
}

.logged_user_menu{
    display: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgb(188, 188, 188);
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 70px;
    right: 3px;
    width: 120px;
}

.logged_user_menu span{
    cursor: pointer;
    padding: 10px;
    display: block;
    justify-content:flex-end;
}

.logged_user_menu span:hover{
    background-color: #eaeaea;
}

.active{
    display: block;
}

.option{
    background: white;
    color: black;
    font-size: 16px;
}

.link{
    color: rgb(132, 132, 132);
    background-color: white;
    font-size: 22px;
}

.bell:hover{
    color: rgb(232, 200, 17);
}

.heart:hover{
    color: rgb(254, 97, 123);
}

.home:hover{
    color: rgb(38, 135, 66);
}



