
.table{
    border-collapse: collapse;
    box-shadow: 4px 4px 8px -2px rgb(161, 161, 161);
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
}

.table th,
.table td{
    padding: 12px 8px;
    text-align: center;
    
}



.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even){
    background-color: white;
}

.table tbody tr:nth-of-type(odd){
    background-color: rgb(238, 238, 238);
}

.table_headers tr{
    background-color: #46499c;
    color: white;
    font-size: 18px;
    text-align: left;

}

.table_headers tr th{
    padding: 10px px;

}

.disable_button{
    cursor: pointer;
    font-size: 18px;
    color: rgb(189, 11, 11);
}

.enable_button{
    color: green;
    cursor: pointer;
    font-size: 18px;
}

.no_results{
  padding: 15px 0 15px 5px;
}

.add_new_tech_button{
    color: rgb(79, 59, 151);
    cursor: pointer;
    font-size: 28px;
}

  .field{
    margin-top: 14px;
    margin-left: 10px;
  }
  .quote {
    position: relative;
    display: none;
    text-align: left;
    color: #fff;
    background: #333;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    -moz-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #aaa;
    -webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    -ms-transition: opacity 250ms ease-out;
    -o-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
   
  }
  .quote label{
    color: white;
    font-size: 12px;
    text-align: left;


  }
  
  
  .field:hover .quote {
    position: absolute;
    display: block;
  }