.filterSet {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    

}
.filter {
    position: relative;
    margin-top:10px;
    margin-right: 8px;
    padding: 8px 24px;
    border: 2px solid #F2F7FB;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    color: #46499C;
    cursor: pointer;
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #F2F7FB;

}
