.filterBar{
    margin: 50px 0;
}


.filterSet {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.filter {
    position: relative;
    margin-right: 8px;
    padding: 8px 24px;
    border: 2px solid #F2F7FB;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    color: #46499C;
    cursor: pointer;
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #F2F7FB;
    outline: none;
}
