.pageContainer{
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    background-color: rgba(239, 245, 250, 0.793);
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 3px 5px 1px lightgray;
}

.reportaje 
{
    display: flex;
    justify-content: flex-end;
    color: red;
    font-size: 30px;
  
}
.detailContainer{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 1px solid black;
    
}
.back{
    display: flex;
    justify-content: space-between;
}
.back button{
   
    
    width: 30px;
    background-color: #F2F7FB;
    border:none;
    cursor:pointer;
    
}
.reportaje button{
    color: black;
    font-size: 40px;
    background-color: #F2F7FB;
    border: none;
    cursor: pointer;
}

.reportaje button:hover{
    color:red
}


#heart{
    width: 30px;
}

.fields{
    margin: 10px;
}

.detailTwo{
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#description{
    margin-bottom: 50px;
}

.buttonContainer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 50px
}
.button{
    background-color: #46499c;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px;
    width: 100px;
}

.button:hover{
    background-color: rgba(70, 73, 156, 0.9);
}

.logoContainer{
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.nameContainer{
    margin-top: auto;
    margin-bottom: auto;
}

#companyName{
    color: black;
    text-decoration: underline;
    cursor: pointer;
    
    padding: 5px;
    border-radius: 10px;
}

#companyName:hover{
    color: #46499c;
  }

#logo{
    max-width: 150px;
}

.companyInfoContainer{
    padding: 20px;
    display: flex;
    text-align: center;
    gap: 20px;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.techsDetailContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.techContainer{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.tech{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #46499c;
    box-shadow: 0 3px 5px 1px lightgray;
}
.cannot{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}