.postCard{
  margin-left: auto;
  margin-right: auto;
  height: 15rem;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  transition: 0.5s;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.postCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.detailsContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

#companyName{
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

#companyName:hover{
  color: #46499c;
}

.techsContainer{
  
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  font-size: 15px;
  flex-wrap: wrap;
}

.techsContainer label{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #46499c;
  box-shadow: 0 3px 5px 1px lightgray;
}

#logo{
  margin-top: 20px;
  width: 200px;
}


@media(max-width:950px){
  .imgContainer{
    text-align: center;
    width: 100%;
  }
 
  .postCard{
    flex-direction: column;
    height: 100%;
    gap: 20px;
    text-align: center;
  }
}