.searchBar
{
  display: flex;
  justify-content: center;
  gap: 10px;

}

.searchBar input{
   border-radius: 20px;
   box-shadow: 2px 2px 5px 1px lightgray;
}


.BtnSearch
{
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 50%;
   background-color: #aaaaaa;
   box-shadow: 4px 4px 7px 1px lightgray;
   color: white;
   cursor: pointer;
   font-size: 18px;
   padding: 0 12px;
}
