.SearchBar
{
   position: relative;
   justify-content:center;

}
.containerS div{
   padding-right: 30px;
}
.searchTerm
{

   border: 3px solid #46499C;
   border-right: none;
   padding: 5px;
   height: 20px;
   border-radius: 5px 0 0 5px;
   outline: none;
   color: #46499C;
}
.searchTerm:focus{
   color: #46499C;
 }
.BtnSearch
{
   width: 100px;
   height: 36px;
   border: 1px solid #46499C;
   background:#46499C;
   text-align: center;
   color: #fff;
   border-radius: 0 5px 5px 0;
   cursor: pointer;
   font-size: 20px;
}