.pageContainer {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  background-color: rgba(239, 245, 250, 0.793);
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.detailContainer {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid black;
}

.back button {
  width: 30px;
  background-color: rgba(239, 245, 250, 0.793);
  border: none;
  cursor: pointer;
}

#heart {
  width: 30px;
}

.fields {
  margin: 10px;
}

.detailTwo {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#description {
  margin-bottom: 50px;
}

.buttonContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}
.button {
  background-color: #46499c;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 25px;
  margin-top: 10px;
  padding: 8px;
  width: 100px;
}

.button1 {
  background-color: #46499c;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 25px;
  margin-top: 10px;
  padding: 8px;
  width: 100px;
}

.button:hover {
  background-color: rgba(70, 73, 156, 0.9);
}

.logoContainer {
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.nameContainer {
  margin-top: auto;
  margin-bottom: auto;
}

#logo {
  max-width: 150px;
}

.companyInfoContainer {
  padding: 20px;
  display: flex;
  text-align: center;
  gap: 20px;
  align-content: center;
  justify-content: center;
  border-bottom: 1px solid black;
}

.techsDetailContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.techContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.tech {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(201, 221, 238, 0.51);
  color: #46499c;
}

.field_tip {
  position: relative;
}
.field-tip .tip_content {
  position: absolute;
  top: -22px; /* - top padding */
  right: 9999px;
  width: 200px;
  margin-right: -220px; /* width + left/right padding */
  padding: 10px;
  color: #fff;
  background: #333;
  -webkit-box-shadow: 2px 2px 5px #aaa;
  -moz-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}
/* <http://css-tricks.com/snippets/css/css-triangle/> */
.field_tip .tip_content::before {
  content: " "; /* Must have content to display */
  position: absolute;
  top: 50%;
  left: -16px; /* 2 x border width */
  width: 0;
  height: 0;
  margin-top: -8px; /* - border width */
  border: 8px solid transparent;
  border-right-color: #333;
}
.field_tip:hover .tip_content {
  right: -20px;
  opacity: 1;
}

.field{
    margin-left: 1.1rem;
}

.quote{
    position: relative;
    display: none;
  
  color: #fff;
  background: #333;
  -webkit-box-shadow: 2px 2px 5px #aaa;
  -moz-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out;
}

.field:hover .quote{
    position: absolute;
    display: block;
}